# DONGLE MX25R64 NRF52840 board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_DONGLEMX25R64_NRF52840

config BOARD
	default "donglmx25r64_nrf52840"

config BT_CTLR
	default BT

endif # BOARD_DONGLEMX25R64_NRF52840
