# DONGLE MX25R64 NRF52840 board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_DONGLEMX25R64_NRF52840
	bool "DONGLE MX25R64 NRF52840"
	depends on SOC_NRF52840_QIAA
